/* ------------------------ */
/* --Main Body - About Me-- */
/* ------------------------ */
.content-area {
    background-image: url("../images/concrete_seamless.png");
    padding: 50px 0;   
}

.content-wrapper {
    /* setting width to 960px, margin auto to center  */
    width: 960px;
    margin-left: auto;
    margin-right: auto;

    /* flex-box */
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
}

main {
    /* border formatting */
    border: 1px solid #dddddd;
    
    /* box formatting */
    background-color:#ffffff;
    box-sizing: border-box; /* to include padding and border as part of total width */
    width: 650px;
    padding: 20px 40px;
}

.main-title {
    /* text formatting */
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 2em;
    font-weight: bold;
    
    /* border formatting */
    border-bottom: 2px solid #cccccc;
 
    /* box formatting */
    padding: 30px 0;
    margin-bottom: 20px;
}

.profile-pic {
    float: left;
    padding: 5px 20px 0 0;
}

.main-text {
    /* text formatting */
    color: #777777;
    font-family:  'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1em;
    line-height: 200%;   
}

aside {
    /* border formatting */
    border: 1px solid #dddddd;
    
    /* box formatting */
    background-color: #ffffff;
    box-sizing: border-box; /* to include padding and border as part of total width */
    width: 270px;
    padding: 10px 20px;
}

.aside-title {
    /* border formatting */
    border-bottom: 1.5px solid #dddddd;

    padding: 20px 0;

    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #4aaaa5;
}

.aside-link-wrapper {
    border-color: #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 20px;
    padding-bottom: 30px; 
}

.aside-link {
    box-sizing: border-box;
    height: 70px;
    width: 70px;
}

.aside-link-so {
    box-sizing: border-box;
    height: 70px;
    width: 70px;
    padding: 4px 4px 3px 3px;
}